<div class="banner">
  <img src="../../../assets//images/20160325015235_359-min.jpg" alt="">
</div>

<div class="container">
  <app-title-page titlePage="Thông tin liên hệ"></app-title-page>
  <div class="content">
    <div class="letter">
      <p>Cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi, Cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi, Cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi</p>
    </div>
    <div class="info">
      <div class="hotline">
        <span nz-icon nzType="phone" nzTheme="outline"></span>
        <div class="text"></div>
      </div>
      <div class="email">
        <span nz-icon nzType="mail" nzTheme="outline"></span>
        <div class="text"></div>
      </div>
      <div class="address">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <div class="text"></div>
      </div>
    </div>
  </div>
</div>
